html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

canvas {
  border-radius: 10px;
  background-color:lightcyan;
  position: absolute;
  left: 20%;
}

button, #highScore {
  display: inline-block;
}

button {
  border: none;
  background-color: plum;
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  padding: 15px 32px;
  position: relative;
  left: 20%;
  top: 530px;
}

#highScore {
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 22%;
  top: 420px;
}

#controls {
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  position: absolute;
  left: 22%;
  top: 10px;
}

button:hover{
  background-color: lightpink;
}