html, body {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

canvas {
  border-radius: 10px;
  background-color:lightcyan;
}

button {
  border: none;
  background-color: teal;
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  padding: 15px 32px;
}

button:hover{
  background-color: lightseagreen;
}