html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;

  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 20px;
}

canvas {
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  left: 100px;
  z-index: -1;
}

button {
  position: absolute;
  padding: 15px 32px;
  visibility: hidden;
  
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;

  width: 200px;
  height: 100px;
  
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 50px;
}

#logIn {
  visibility: visible;

  background-image: url("menu/11.2.png");
  
  left: 175px;
  top: 193.75px;
}

#logIn:hover {
  background-image: url("menu/11.2.png");
}

#newPlayer {
  visibility: visible;

  background-image: url("menu/10.1.png");
  
  left: 175px;
  top: 293.75px;
}

#newPlayer:hover {
  background-image: url("menu/10.2.png");
}

#username {
  position: absolute;

  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  font-size: 25px;

  width: 200px;
  
  left: 625px;
  top: 193.75px;
}

#password {
  position: absolute;

  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  font-size: 25px;
  
  width: 200px;
  
  left: 625px;
  top: 243.75px;
}

#usernameLabel {
  position: absolute;

  width: 200px;
  height: 100px;
  
  left: 425px;
  top: 160px;
}

#passwordLabel {
  position: absolute;

  width: 200px;
  height: 100px;
  
  left: 425px;
  top: 210px;
}

#enter {
  visibility: visible;

  background-image: url("menu/8.png");

  width: 150px;
  height: 75px;
  
  left: 425px;
  top: 318px;
}

#error {
  color: tomato;
  position: absolute;
  width: 200px;
  height: 100px;
  
  left: 620px;
  top: 319px;
}

#backgroundtint {
  position: absolute;
  
  width: 800px;
  height: 500px;
  
  left: 100px;
  top: 0px;
  z-index: -1;
}

#title {
  position: absolute;
  
  width: 250px;
  height: 87.5px;
  
  left: 375px;
  top: 81px;
}

#revive {
  background-image: url("game over/3.png");
  
  width: 320px;
  height: 100px;
  
  left: 340px;
  top: 155px;
}

#menu {
  background-image: url("game over/1.png");
  
  left: 295px;
  top: 265px;
}

#replay {
  background-image: url("game over/2.png");
  
  left: 505px;
  top: 265px;
}

#gameOverCoin {
  left: 440px;
  top: 175px;
}

#play {
  background-image: url("menu/2.png");
  
  left: 130px;
  top: 320px;
}

#leaderboard {
  background-image: url("menu/6.png");

  width: 320px;
  height: 100px;
  
  left: 340px;
  top: 320px;
}

#shop {
  background-image: url("menu/3.png");
  
  left: 670px;
  top: 100px;
}

#help {
  background-image: url("menu/4.png");
  
  left: 670px;
  top: 210px;
}

#settings {
  background-image: url("menu/5.png");
  
  left: 670px;
  top: 320px;
}

#exit {
  background-image: url("menu/7.png");
  
  width: 25px;
  height: 25px;
  
  left: 845px;
  top: 30px;
}

#changeTheme {
  left: 100px;
  top: 520px;
}

#music {
  background-image: url("game/2.png");
  visibility: hidden;
  
  width: 50px;
  height: 50px;
  
  left: 820px;
  top: 420px;
}

#coins {
  position: absolute;
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;

  left: 160px;
  top: 0px;
  visibility: hidden;
}

#score {
  position: absolute;
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  
  left: 120px;
  top: 40px;
  visibility: hidden;
}

#controls {
  position: absolute;
  color: white;
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;

  left: 120px;
  top: 375px;
  visibility: hidden;
}

#changeTheme:hover{
  background-color: plum;
}